body {
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-family: Helvetica;
}

.navbar .fa-bars {
    color: #fff;
    font-size: 35px;
}

.navbar-toggler {
    outline: none !important;
}
.btn{
    border-color:aqua;
}
.nav-link {
    float: right;
    margin-right: 8px !important;
    margin-left: 8px !important;
    color: black;
    padding: 5px 0 !important;
    outline:none;
    background:space;
}

    .nav-link:hover {
        color: #fff;
        border-bottom: 2px solid #397e24;
        transition: 0.7s;
    }

.navigation {
    display: block;
    box-shadow: 0 0 5px 0 #fff;
}
.button{
    align-content:center;
    width:100px;
    height:50px;
    margin-left:625px;
    background-color:cadetblue;

}
.title-name {
    color: black;
    text-align: center;
}
.card {
   visibility:hidden;
   background:linear-gradient(#99ccff,#1bba66);
   height:900px;
   text-align: center;
   
    
}
